.background_body
{
    background-color: rgb(255, 255, 255);
}

.texto
{
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.carro
{
    font-size: 150px;
    color: rgb(33, 105, 41);
    font-weight: bold;
}

.avião
{
    font-size: 150px;
    color: indigo;
    font-weight: bold;
}

.barco
{
    font-size: 100px;
    color: rgb(0, 255, 110);
    font-weight: bold;
}